<h2>Students</h2>
<% @students.each do |id, student| %>
<div>
  <h3><%= User.find(id).username %></h3>
  <dl>
    <dt>Submissions</dt>
    <dd><%= student[:submissions].length %></dd>

    <dt>Attendances</dt>
    <dd><%= student[:attendances].length %></dd>

    <dt>Observations</dt>
    <dd><%= student[:observations].length %></dd>
  </dl>
</div>
<% end %>
