<h2><%= breadcrumbs(@group, @user) %></h2>

<section>
  <h3>New Observation</h3>
  <%= render partial: "observations/form", locals: {group: @group, membership: @membership, observation: @observation} %>
</section>

<section>
  <h3>All Observations</h3>
  <% @membership.student_observations.each do |observation| %>
    <%= render partial: "observations/show", locals: {observation: observation} %>
  <% end %>
</section>
