<h2>Groups</h2>

<h3>Administrator Of</h3>
<ul>
<% @admin_groups.each do |group| %>
  <li><%= link_to group.title, group %></li>
<% end %>
</ul>

<h3>Not Administrator Of</h3>
<ul>
<% @non_admin_groups.each do |group| %>
  <li><%= link_to group.title, group %></li>
<% end %>
</ul>
