<h2><%= breadcrumbs(@group) %></h2>

<section>
  <h3>Owners</h3>
  <ul>
    <% @admins.each do |user| %>
    <li><%= link_to user.username, profile_path(user) %></li>
    <% end %>
  </ul>
</section>

<section>
  <h3>Subgroups</h3>
  <ul><%= subgroup_tree_html(@group) %></ul>
</section>
