<nav>
  <% if current_user %>
  <a href="/profile">
    <%= current_user.username %>
    </a>
  <a href="/sign_out">sign out</a>
  <% else %>
  <a href="/sign_up">Sign up</a>
  <a href="/sign_in">Sign in</a>
  <% end %>
</nav>
<div class="errareHumanumEst">
<% flash.each do |key, value| %>
  <p><%= value %></p>
<% end %>
</div>
