<nav>
  <% if session[:user] %>
    <a href="/sign_out"><%= @user.username %>: sign out</a>
    <a href="/github/authorize">
      <% if @user.github_username %>
        <img src="<%= @user.image_url %>" alt="<%= @user.github_username %>" width="75" height="75" title="Refresh your Github info" />
      <% else %>
        authorize Github
      <% end %>
    </a>
  <% else %>
    <a href="/sign_up">Sign up</a>
    <a href="/sign_in">Sign in</a>
  <% end %>
</nav>
<h2><%= flash[:notice] %></h2>
