<h2>Sign in:</h2>
<a class="button" href="/github/authorize"><span class="fa fa-github"></span>Sign in with Github</a>
<%= form_tag("/sign_in", method: "post") do %>
  <input type="text" name="username" placeholder="username" value="<%= cookies[:username] %>" />
  <input type="password" name="password" placeholder="password" />
  <input type="submit" value="Sign in" />
<% end %>
