<h2>Sign up</h2>
<h3><a href="/github/authorize">With your Github account</a></h3>

<h3>...or without Github:</h3>
<%= render partial: "form", locals: {action: "/sign_up", user: current_user || User.new} %>
