<h2>Sign up with Github:</h2>
<div>
  <a class="button" href="/github/authorize">Click here</a>
</div>
<h2>...or without Github:</h2>
<div>
  <%= form_tag("/sign_up", method: "post") do %>
  <label>Username:
    <input type="text" name="username" placeholder="username" />
  </label>
  <label>Password:</label>
    <input type="password" name="password" placeholder="password" />
  </label>
    <input type="password" name="password_confirmation" placeholder="password again" />
    <input type="submit" value="Sign up" />
  <% end %>
</div>
