<div class="new_user_welcome">
  <h1>Welcome!</h1>
  <p>
    Your GArNET account was succesfully created! Here's the info we received from GitHub:
  </p>
  <ul>
    <li><%= avatar @user %></li>
    <li><span class="label">Username:</span> <%= @user.username %></li>
    <li><span class="label">Name:</span> <%= @user.name %></li>
    <li><span class="label">Email:</span> <%= @user.email %></li>
  </ul>
  <h2>Now go finish your prework!</h2>
</div>
