<h2><%= @event.date.strftime("%A, %B %e, %Y") %></h2>
<%= form_tag event_update_all_path(@event), method: :patch do %>
  <table>
    <% @attendances.each do |attendance| %>
    <tr>
      <%= render partial: "attendances/row", locals: {attendance: attendance} %>
    </tr>
    <% end %>
  </table>
  <input type="submit" value="Submit" />
<% end %>
