<h2><%= @event.date %></h2>
<div class="students">
  <% @attendances.each do |attendance| %>
    <div class="student">
      <h3><%= attendance.membership.user.username %></h3>
      <form class="entry" method="post" class="student">
        <input type="hidden" value="<%= attendance.id %>" id="attendance_id">
        <div class='status'>
          <% if attendance.status == "present" %>
            <input type="radio" name="status" value="present" checked=true>
            Present
          <% else %>
            <input type="radio" name="status" value="present">
            Present
          <% end %>

          <% if attendance.status == "tardy" %>
            <input type="radio" name="status" value="tardy" checked=true>
            Tardy
          <% else %>
            <input type="radio" name="status" value="tardy">
            Tardy
          <% end %>

          <% if attendance.status == "absent" %>
            <input type="radio" name="status" value="absent" checked=true>
            Absent
          <% else %>
            <input type="radio" name="status" value="absent">
            Absent
          <% end %>
          
        </div>
      </form>
    </div>
  <% end %>
</div>
