<td><%= link_to submission.user.username, group_member_path(submission.assignment.group, submission.user) %></td>
<td><%= link_to "View", submission_path(submission) %></td>
<td><%= submission.status_english %></td>
