@mixin observation_form_fields {
  display: block;
  width: 100%;
}

#observation_status{
  @include observation_form_fields;
}

#observation_body{
  @include observation_form_fields;
  height: 10em;
}
