/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

 *{
   margin:0;
   border:0;
   padding:0;
   border-collapse:collapse;
   border-spacing:0;
   font-size:inherit;
   font-style:inherit;
   font-family:inherit;
   font-weight:inherit;
   text-decoration:none;
   color:inherit;
   background-color:transparent;
   list-style-type:none;
 }
 *:focus{
   outline:0
 }
 body,html{
   width:100%;
   height:100%;
   min-height:100vh;
   position:relative;
 }
 div{
   position:relative;
 }
 a, button, label{
   cursor:pointer;
 }
 *[title]{
   cursor:help;
 }

 html{
   background: #fff;
 }
 body{
   font-family: "Inconsolata", "Consolas", "Monaco", monospace;
   color:#444;
   margin:0 auto;
   padding:0 10px;
   max-width:900px;
   text-shadow:0 0 1px rgba(0,0,0,0.1);
 }
 header, main, footer{
   margin-left:auto;
   margin-right:auto;
 }
 html,body,header,main,footer{
   box-sizing:border-box;
 }

 h1,h2,h3,h4,h5,h6,
 input[type=submit],
 button,
 .button{
   font-family:"Helvetica", sans-serif;
 }
 h2,h3,h4,h5,h6,
 p,.intro,
 textarea,
 select,
 label,
 .date,
 input,.button{
   padding:10px;
   margin:10px 0;
   box-sizing:border-box;
   border-radius:5px;
 }
 h1,h2,h3,h4,h5,h6{
   font-weight:bold;
 }
 h1{
   font-size:18px;
   letter-spacing:5px;
   text-transform:uppercase;
 }
 h2{
   font-size:24px;
   line-height:28px;
   padding-left:0px;
   padding-right:0px;
 }
 h3{
   font-size:18px;
   line-height:24px;
   border-top:1px dotted #eee;
 }
 small{
   font-size:12px;
   line-height:18px;
 }

 header{
   display:block;
   width:100%;
   border-bottom:1px dotted #eee;
   font-size:0;
 }
 h1{
   padding-left:10px;
   box-sizing:border-box;
 }
 h1 span{
   color:red;
 }
 h1, nav{
   display:inline-block;
   width:50%;
 }
 nav{
   text-align:right;
 }
 nav a{
   display:inline-block;
   padding:0 1em;
   font-size:1rem;
   border-left: 1px dotted #eee;
 }
 nav a:hover{
   background-color:#f0f0f0;
 }
 nav a, h1{
   line-height:48px;
   vertical-align:middle;
 }
 @media (max-width:600px){
   h1, nav{
     display:block;
     text-align:center;
     width:100%;
   }
   nav a{
     border:0;
   }
 }
 .errareHumanumEst{
   border:1px dashed #8be;
   border-radius:5px;
   padding:1em;
   text-align:center;
 }

 main{
   margin-bottom:50px;
 }
 footer{
   display:block;
   width:100%;
   height:50px;
   border-top:1px dotted #eee;
   text-align:center;
   color:#ccc;
 }
 footer>*{
   line-height:50px;
 }

 .avatar{
   width:100px;
 }


 input,
 textarea,
 select,
 label,
 button, .button,
 .date{
   background-color:#eee;
   display:block;
   width:100%;
   line-height:24px;
 }
 textarea{
   resize: vertical;
 }
 textarea:disabled,
 input:disabled{
   background-color:#fff;
   border-left:1px dotted #ddd;
 }
 input[type=submit],
 button,
 .button{
   text-transform:uppercase;
   letter-spacing:2px;
   background-color:#69c;
   color:#fff;
   font-weight:bold;
   text-shadow:none;
   text-align:center;
   cursor:pointer;
   font-size:10px;
   border-bottom:0;
 }
 input[type=submit]:hover,
 button:hover,
 .button:hover{
   background-color:#7ad;
   color:#fff;
 }
 input[type=radio],
 input[type=checkbox]{
   display:block;
   overflow:hidden;
   position:absolute;
   padding:0;
   margin:0;
   width:1px;
   height:1px;
   opacity:0.01;
 }
 input[type=radio]+label,
 input[type=checkbox]+label{
   display:block;
 }
 input[type=radio]+label:after,
 input[type=checkbox]+label:after{
   content:"?";
 }
 input[type=radio]:checked+label,
 input[type=checkbox]:checked+label{
   background-color:#ddd;
 }
 input[type=radio]:checked+label:after,
 input[type=checkbox]:checked+label:after{
   content:"!";
 }
 select{
   height:36px;
   line-height:36px;
 }
 label input{
   display:inline-block;
   width:100px;
   margin:0;
   padding:0;
 }

 .date{
   text-align:center;
 }
 .date select{
   display:inline-block;
   width:auto;
   padding:0;
   margin:0;
   height:auto;
   line-height:auto;
 }

 main{
   margin-top:10px;
 }
 main a{
   color:#369;
   border-bottom:1px dashed #9cf;
 }
 main a:hover{
   color:blue;
 }
 section{
   margin-top:10px;
   margin-bottom:50px;
 }
 .intro{
   background-color:#eee;
 }
 .intro>*{
   display:inline-block;
   vertical-align:middle;
 }
 .observation{
   border-radius:5px;
 }

 .breadcrumbs a{
   display:inline-block;
   background-color:#eee;
   border-radius:5px;
   padding:5px 10px;
   margin:5px;
   vertical-align:baseline;
 }
 .breadcrumbs a:hover{
   background-color:#eef;
 }
 .breadcrumbs a:nth-child(1){
   margin-left:0;
 }

 .tree{
   padding-left:10px;
 }
 .tree a{
   display:block;
   line-height:24px;
 }
 .tree ul{
   padding-left:30px;
 }


 table{
   width:100%;
   table-layout:fixed;
   margin-bottom:10px;
 }
 th, td{
   padding:10px;
   border:1px solid transparent;
 }
 table input,
 table label{
   padding:0;
   margin:0;
 }
 table label{
   background-color:transparent;
   text-align:center;
 }
 table label{
   background-color:transparent;
 }
 tr:nth-child(odd){
   background-color:#f0f0f0;
 }
 .student_data{
   text-align:right;
 }
 .student_data tr>:nth-child(1){
   text-align:left;
 }
