.student.attendance {
  img {
    max-width:50px;
    clear:both;
    float:left;
    margin-right: 10px;
  }
  h3 {
    margin-bottom: .5em;
  }
  @media all and(max-width:40em){
    label{
      font-size:.8em;
    }
  }
}

